<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Mad Lib Output</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css" type="text/css">
  </head>
  <body>
    <h1 class="display-1 text-center">Your Mad Lib</h1>
    <p>The @Model.Words[0] Dragon is the @Model.Words[1] Dragon of all. It has @Model.Words[2] @Model.Words[3], and a @Model.Words[4] shaped like a @Model.Words[5]. It loves to eat @Model.Words[6], although it will feast on nearly anything. It is @Model.Words[7] and @Model.Words[8]. You must be @Model.Words[9] around it, or you may end up as it`s meal!</p>
  </body>
</html>